
/* ======================================================= */
/* 1. MOBILE FIRST (DEFAULT) */
/* ======================================================= */

:root {
    --onna-line: #ff0000;
    --background: #111;
    --color-font-principal: #9932CC;
    --color-font-secundary: #CCC9EA;

    --based-font: 'Roboto', sans-serif;
    --basic-size: 1rem;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center; 
    min-height: 100vh; 
    
    font-family: var(--based-font);
    font-size: var(--basic-size);
    line-height: 1.5;
    background-color: var(--background);
    color: #f4f4f4;
    text-align: center;
}

main {
    width: 100%;
    max-width: 700px;
    padding: 1rem;
}

/* LOGO ONNA GEEK */
.logo-container {
    position: relative;
    width: 90%;
    height: 100vh; 
    margin-left: 10%;
    margin-right: 10%;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.logo-image {
    position: absolute;
    z-index: 10;
    max-width: 100%; 
    height: auto;
    filter: brightness(150%);
}

.video {
    position: relative;
    top: 0;
    left: 0;
    min-width: 100%; 
    min-height: 100%;
    object-fit: cover;
    box-shadow: 0 0 1em 1em var(--onna-line);
}

/* Estilo para a Seção de Conteúdo */
.content-section {
    display: block; 
    padding: 1rem 0;
    margin: 2rem auto; /* Garante margem superior e inferior e ajuda na centralização, embora o 'body' já o faça. */
    /* Remove a altura fixa */
}

.content-section h1 {
    color: var(--color-font-principal);
}

.content-section p {
    color: var(--color-font-secundary);
}

/* ======================================================= */
/* 1. MEDIA QUERIES | DESKTOP AND TABLETS
/* ======================================================= */

@media (min-width: 768px) {
    .logo-container {
        height: 100vh; 
    }

    .logo-image {
        max-width: 100%; 
    }
}
